#brand-info {
  #breadcrumb-line {
    margin-top: 3rem;
  }

  #brand-name {
    font-weight: 900;
    font-size: 3rem;
    text-transform: uppercase;
  }

  #brand-logo {
    width: 20%;

    img {
      width: 100%;
    }
  }

  #collections-info {
    font-size: 1.5rem;
    font-weight: 700;
  }

  @media (max-width:400px) {
    #brand-logo {
      img {
        display: none;
      }
    }
  }
}