.section-padding {
  padding: 4rem 2rem;
}

#login-container {
  border-radius: 40px;
  background: #e9e9e9;
  box-shadow: 41px 41px 82px #c6c6c6,
    -41px -41px 82px #ffffff;

  #login-form {

    label {
      font-size: 1.4rem;
    }

    input {
      padding: 0.5rem;
      background-color: transparent;
      border-bottom: 1px solid #171717;
    }

    input[type="submit"] {
      background-color: #252525;
      border-radius: 15px;
      border-bottom: none;
      border: 1px solid#252525;
      color: #FBFBFB;
    }

    input[type="submit"]:hover {
      background-color: transparent;
      color: #252525;
    }
  }

  #right-img {
    background-color: #252525;
    border-end-end-radius: 40px;
    border-start-end-radius: 40px;

    a {
      font-size: 1.4rem;
    }
  }
}