@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moirai+One&display=swap');

.p-home {
    .intro-section-container {
        background-image: url('../../../../public/images/Sneakers-Section-Background.jpg');
        background-size: cover;
        background-position: center;

        .intro-section_store-name {
            padding: 6rem;
            text-align: center;
            color: #FBFBFB;
            text-shadow: 0px -20px 3px #171717;
            font-family: 'Moirai One', system-ui;
            font-size: 7vw;
        }

        .intro-section_shop-now {
            font-family: 'Archivo', sans-serif;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            padding: 35vh 10vw 6vh 10vw;

            .shop-now_text-container {
                color: #FBFBFB;
                font-weight: 200;
                font-size: 1.5rem;
                display: flex;
                flex-wrap: wrap;
            }

            a {
                background-color: #FBFBFB;
                border-radius: 50px;
                text-decoration: none;
                color: #171717;
                font-weight: 800;
                font-size: 2rem;
                width: 17rem;
                height: 4rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .narrivals-section {
        text-align: center;

        .narrivals-text {
            margin-top: 6vw;
            margin-bottom: 3vw;
            color: #171717;
            font-family: 'Archivo', sans-serif;
            font-weight: 800;
            font-size: 5rem;
        }

        .arrivals-catalog {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}

.catalog-section-btn {
    margin-top: 3rem;
    margin-bottom: 8rem;

    a {
        font-family: 'Archivo', sans-serif;
        color: #171717;
        text-decoration: none;
        border: 1px solid #171717;
        border-radius: 50px;
        font-size: 1.5rem;
        font-weight: 700;
        padding: 1rem 2rem;
    }

    a:hover {
        color: #FBFBFB;
        background-color: #171717;
    }
}

.brands-section {
    text-align: center;

    .top-brands-text {
        margin-top: 6vw;
        margin-bottom: 3vw;
        color: #171717;
        font-family: 'Archivo', sans-serif;
        font-weight: 800;
        font-size: 5rem;
    }

    .top-brands-catalog {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.bestseller-section {

    .betss-rows {
        display: flex;
        justify-content: center;

        .betss-row1 {
            margin: 1.5rem;
            display: flex;
            flex-direction: column;
            color: #171717;
            font-family: 'Archivo', sans-serif;

            .betss-text-big {
                font-weight: 800;
                font-size: 3.5rem;
            }

            .betss-text-small {
                margin-top: 1.5rem;
                font-weight: 200;
            }

            .betss-img-row1 {
                margin-top: 1.5rem;
                background-color: rgb(235 232 219);
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 90%;
                }
            }
        }

        .betss-row2 {
            .best-item {
                margin: 1.5rem;
                display: flex;
                flex-direction: column;
                color: #171717;
                font-family: 'Archivo', sans-serif;

                .betss-img-row2 {
                    background-color: rgb(235 232 219);
                    border-radius: 20px;

                    img {
                        width: 100%;
                    }
                }

                .betss-item-info {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .betss-item-info-text {
                        .betss-brand-name {
                            margin-top: 1rem;
                            font-weight: 300;
                            font-size: 1rem;
                        }

                        .betss-item-name {
                            margin-top: 1rem;
                            font-size: 1.5rem;
                            font-weight: 800;
                        }
                    }

                    .betss-item-price {
                        margin-top: 1rem;
                        font-size: 1.8rem;
                        font-weight: 800;
                    }
                }

                .betss-add-btn {
                    margin-top: 2.5rem;
                    text-align: center;

                    a {
                        color: #171717;
                        text-decoration: none;
                        border: 1px solid #171717;
                        border-radius: 50px;
                        font-size: 1.5rem;
                        font-weight: 700;
                        padding: 1rem 3.5rem;
                    }

                    a:hover {
                        color: #FBFBFB;
                        background-color: #171717;
                    }
                }
            }
        }
    }
}

.featured-section {
    text-align: center;

    .featured-text {
        margin-top: 6vw;
        margin-bottom: 3vw;
        color: #171717;
        font-family: 'Archivo', sans-serif;
        font-weight: 800;
        font-size: 5rem;
    }

    .featured-catalog {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.advert-section {
    .advert-bg {
        background-image: url("./../../../../public/images/6700881197.jpg");
        background-size: cover;
        background-position: center;
        text-align: left;

        .advert-text {
            margin-top: 12rem;
            font-family: 'Archivo', sans-serif;
            color: #FBFBFB;

            .advert-text-big {
                font-weight: 900;
                font-size: 5rem;
            }

            .advert-text-small {
                margin-top: 3rem;
                font-weight: 200;
                font-size: 1.5rem;
            }
        }

        .advert-btn {
            margin-top: 9rem;
            margin-bottom: 8rem;

            a {
                font-family: 'Archivo', sans-serif;
                color: #171717;
                background-color: #FBFBFB;
                text-decoration: none;
                border-radius: 50px;
                font-size: 1.5rem;
                font-weight: 800;
                padding: 1rem 2rem;
            }

            a:hover {
                color: #FBFBFB;
                background-color: #171717;
            }
        }
    }
}

@media (max-width:768px) {
    .narrivals-section {
        .narrivals-text {
            font-size: 8vw !important;
        }
    }

    .bestseller-section {
        .betss-rows {
            .betss-row1 {
                .betss-text-big {
                    font-size: 8vw !important;
                }
            }

            .betss-add-btn {
                a {
                    font-size: 3vw !important;
                    padding: 1rem 5vw !important;
                }
            }
        }
    }
}

@media (max-width:576px) {
    .intro-section-container {
        .intro-section_store-name {
            padding: 6rem 0 0 0 !important;
        }

        .intro-section_shop-now {
            padding: 37vh 10vw 6vh 10vw !important;

            a {
                display: none !important;
            }
        }
    }

    .brands-section {
        .top-brands-text {
            font-size: 8vw;
        }
    }

    .featured-section {
        .featured-text {
            font-size: 8vw;
        }
    }

    .catalog-section-btn {
        a {
            font-size: 5vw;
        }
    }

    .bestseller-section {
        .betss-rows {
            .betss-row1 {
                .betss-text-big {
                    font-size: 15vw !important;
                }

                .betss-text-small {
                    display: none;
                }

                .betss-img-row1 {
                    display: none;
                }
            }

            .betss-item-info {
                .betss-item-info-text {
                    .betss-item-name {
                        font-size: 7vw !important;
                    }
                }

                .betss-item-price {
                    font-size: 6.5vw !important;
                }
            }

            .betss-add-btn {
                a {
                    font-size: 5vw !important;
                    padding: 1rem 10vw !important;
                }
            }
        }
    }
}

.not-coppy {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}